---
import PageLayout from "@/layouts/page-layout.astro";
import authors from "@/content/data/authors.json";
import { Icon } from "astro-icon/components";
import NavLink from "@/components/nav-link.astro";
import Article from "@/components/article.astro";
import type { Author } from "@/types/index";
export async function getStaticPaths() {
  const paths = Object.values(authors).map((author) => ({
    params: { id: author.jad_id },
    props: { data: author as Author },
  }));
  return paths;
}

const { data: author} = Astro.props;
const dates = author.origDates;

---

<PageLayout title={author.name}>
  <Article
    prevLink={`/authors/${author.prev.id}`}
    nextLink={`/authors/${author.next.id}`}
    mainTitle={`${author.name} ${dates ? `(${dates})` : ""}`}
  >
    <dl class="grid grid-cols-[1fr_7fr] text-sm md:leading-7 md:text-base">
      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-5">
        Date of birth:
      </dt>
      <dd class="pl-5">{dates.split(' — ')[0]}</dd>
      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-5">
        Date of Death:
      </dt>
       <dd class="pl-5">{dates.split(' — ')[1]}</dd>
      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-5">
        Place:
      </dt>
      <dd class="pl-5">
        {
          author.place.length > 0 ? (
            <NavLink href={author.place[0].geonames_url}>
              {author.place[0].value}
              <Icon
                class="inline-flex align-top"
                aria-hidden="true"
                name="lucide:external-link"
              />
            </NavLink>
          ) : (
            ""
          )
        }
      </dd>
      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-5">
        GND:
      </dt>
      <dd class="pl-5">
        {
          author.gnd_url.length > 0 ? (
            <NavLink href={author.gnd_url}>
              {author.gnd_url.split("/").at(-1)}
              <Icon
                class="inline-flex align-top"
                aria-hidden="true"
                name="lucide:external-link"
              />
            </NavLink>
          ) : (
            "N/A"
          )
        }
      </dd>

      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-5">
        Works:
      </dt>
      <dd class="pl-5">
        {
          author.works.length > 0 ? (
            <ul>
              {author.works.map((work) => (
                <li>
                  <NavLink href={`/works/jad_work__${work.id}`}>
                    {work.title}
                  </NavLink>
                </li>
              ))}
            </ul>
          ) : (
            "N/A"
          )
        }
      </dd>
      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-5">
        Alternative Name:
      </dt>
      <dd class="pl-5">{author.alt_name}</dd>
    </dl>
  </Article>
</PageLayout>
