---
import PageLayout from "../layouts/page-layout.astro";
import institutions from "../content/data/institutional_context.json";


const institutionsValues = Object.values(institutions);

---

<PageLayout>
    <style>
        /* To make the table rows striped */
        tr:nth-child(even) {
          background-color: #fef9f8;
        }
        tr:nth-child(odd) {
          background-color: #f5e8e6;
        }
        /* To highlight a row on click */
        tr:focus {
                outline: none; /* Remove the default outline on focus */
                background-color: #d6bbb2; 
                color:black
            }
      </style>

    
    <div class="mx-auto p-4 lg:w-4/5">
		<div>
            <div class="flex justify-between align-middle mb-2">
                <h2 class="text-2xl font-semibold text-brandBrown py-2">Institutions</h2>
                <button id="download-btn" class="border rounded-md shadow-sm bg-brandBrown text-brandPaleWhite px-4 font-semibold hover:bg-brandPaleWhite hover:border-brandBrown hover:text-brandBrown transition">Download CSV</button>
            </div>
      <table id="jad-institutional-context" class="data-table  text-brandBrown w-full table-fixed shadow-md border lg:leading-7 text-sm lg:text-base">
        <thead>
          <tr>
            <th class="w-1/4">
              <div class="flex flex-col items-start p-2">
                <span class="font-bold">Name</span>
                <input type="text" id="nameSearch" placeholder="Search Name" class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                
              </div>
            </th>
            <th class="w-1/6">
              <div class="flex flex-col items-start p-2">
                <span class="font-bold">Part</span>
                <input type="text" id="genreSearch" placeholder="Search Genre" class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
              </div>
            </th>
            <th>
              <div class="flex flex-col items-start p-2">
                <span class="font-bold">Manuscripts</span>
                <input type="text" id="authorSearch" placeholder="Search Author" class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
              </div>
            </th>
           
          </tr>
        </thead>
               
              
        <tbody>
            {Object.values(institutionsValues).map((institution) => (
              <tr tabindex="0">
                <td class="px-3">
                    <a href=`institutions/${institution.jad_id}` class="hover:text-brandPaleWhite">{institution.name}</a>
                </td>
                <td class="px-3">
                    { institution.part_of.length > 0
                        ? institution.part_of.map((part, index) => (
                            <>
                            <a href={`/institutions/${part.jad_id}`} class="hover:text-brandPaleWhite">{part.name}</a>
                            {index < institution.part_of.length -1 && '|'}
                            </>
                        ))
                        : 'N/A'
                    }    
                </td>
                <td class="px-3">
                 {institution.related__manuscripts.length > 0
                 ? institution.related__manuscripts.map((ms, index) => (
                    <>
                    <a href=`manuscripts/${ms.jad_id}` class="hover:text-brandPaleWhite">{ms.view_label}</a>
                    {index < institution.related__manuscripts.length - 1 && <span>|</span>}
                    </>
                 ))
                : 'N/A'
                }
                </td>               
               
              </tr>
              ))}
            
            
        </tbody>
             
            </table>
		</div>
	</div>
  <script src="../lib/table-search.js"></script>
</PageLayout>