---
import PageLayout from "../layouts/page-layout.astro";
import mss from "../content/data/manuscripts.json";
import { Icon } from "astro-icon/components";
import NavLink from "@components/nav-link.astro";
---

<PageLayout>
  <style>
    /* To make the table rows striped */
    tr:nth-child(even) {
      background-color: #fef9f8;
    }
    tr:nth-child(odd) {
      background-color: #f5e8e6;
    }
    /* To highlight a row on click */
    tr:focus {
            outline: none; /* Remove the default outline on focus */
            background-color: #ca9f91; 
        }
  </style>

<div class="mx-auto p-4 lg:w-4/5">
		<div>
			<div class="flex justify-between align-middle mb-2">
        <h2 class="text-2xl font-semibold text-brandBrown py-2">Manuscripts</h2>
        <button id="download-btn" class="border rounded-md shadow-sm bg-brandBrown text-brandPaleWhite px-4 font-semibold hover:bg-brandPaleWhite hover:border-brandBrown hover:text-brandBrown transition">Download CSV</button>
    </div>
      <table id="jad-mss-table" class="data-table text-brandBrown w-full table-fixed shadow-md border lg:leading-7 text-sm lg:text-base">
        <thead>
          <tr>
            <th>
              <div class="flex flex-col items-start p-2">
                <span class="font-bold">Shelfmark</span>
                <input type="text" id="nameSearch" placeholder="Search Name" class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
              </div>
            </th>
            <th>
              <div class="flex flex-col items-start p-2">
                <span class="font-bold">Settlement</span>
                <input type="text" id="genreSearch" placeholder="Search Genre" class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
              </div>
            </th>
            <th>
              <div class="flex flex-col items-start p-2">
                <span class="font-bold">Library | Collection</span>
                <input type="text" id="authorSearch" placeholder="Search Author" class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
              </div>
            </th>
            <th>
              <div class="flex flex-col items-start p-2">
                <span class="font-bold">Passages</span>
                <input type="text" id="manuscriptSearch" placeholder="Search MS" class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
              </div>
            </th>
            <th>
              <div class="flex flex-col items-start p-2">
                <span class="font-bold">Institutional context</span>
                <input type="text" id="manuscriptSearch" placeholder="Search MS" class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
              </div>
            </th>
            <th>
              <div class="flex flex-col items-start p-2">
                <span class="font-bold">Digital facsimile</span>
                <input type="text" id="contextSearch" placeholder="Search Context" class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
              </div>
            </th>
            <th>
              <div class="flex flex-col items-start p-2">
                <span class="font-bold">Catalog Entry</span>
                <input type="text" id="contextSearch" placeholder="Search Context" class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
              </div>
            </th>
          </tr>
        </thead>
               
              
        <tbody>
            {Object.values(mss).map((ms) => (
              <tr tabindex="0">
                <td class="px-3">
                    <NavLink href=`/manuscripts/${ms.jad_id}` class="hover:text-brandPaleWhite hover:font-semibold">{ms.name[0]?.value}</NavLink>
                </td>
                <td class="px-3">
                    {ms.library[0]?.place[0]?.name}                    
                </td>
                <td class="px-3">
                  {ms.library[0]?.name}
                </td>
                <td class="px-3">
                  {ms.related__passages.length > 0 &&
                    ms.related__passages.map((passage: { jad_id: string; }, index: number) => (
                      <>
                        <NavLink href={`/passages/${passage.jad_id}`} class="hover:text-brandPaleWhite">#{passage.jad_id.substring(15)}</NavLink>                    
                        {index < ms.related__passages.length - 1 && <span>|</span>}
                      </>
                    ))
                  }
                </td>
                <td class="px-3">
                  <NavLink href={`/institutions/${ms.institutional_context[0]?.jad_id}`}>{ms.institutional_context[0]?.name ?? 'N/A'}</NavLink>
                </td>
                <td class="px-3">
                  {ms.digi_url && (
             <div>                
                <NavLink href={ms.digi_url} class="flex hover:text-brandPaleWhite items-baseline gap-1">
                    <span>Digital facsimile</span> 
                    <Icon aria-hidden="true" name="lucide:external-link"></Icon>
                </NavLink>
            </div>
           
          )}
                </td>
                <td class="px-3">
                   {ms.catalog_url && (
           <div>
                <NavLink href={ms.catalog_url} class="flex hover:text-brandPaleWhite items-baseline gap-1">
                    <span>Catalog entry</span>                 
                    <Icon aria-hidden="true" name="lucide:external-link"></Icon>
                </NavLink>
            </div>            
        )}
                </td>
              </tr>
              ))}
            
            
        </tbody>
             
            </table>
     
            
         
		</div>
	</div>
  <script src="../lib/table-search.js"></script>
</PageLayout>