---
import NavLink from "./nav-link.astro";
import { Icon } from "astro-icon/components";
const { prevLink, nextLink, mainLink, mainTitle } = Astro.props;
const pathname = Astro.url.pathname;
---

<article
  class="mx-auto md:max-w-4/5 sm:w-5/6 md:my-5 md:py-10 md:px-15 bg-white md:border border-neutral-300 rounded-md grid grid-rows-[auto_1fr_auto]"
>
  <div
    class="flex justify-between gap-3 text-brand-800 md:text-3xl text-xl p-5 border-b-2 border-neutral-300"
  >
    {
      prevLink && (
        <NavLink href={prevLink} class="flex items-center">
          <Icon
            class="md:size-12 size-8"
            aria-hidden="true"
            name="lucide:circle-chevron-left"
          />
          <span class="sr-only">to previous item</span>
        </NavLink>
      )
    }
    <h1 class="font-semibold text-brand-800 text-lg md:text-2xl">
      {mainLink ? <NavLink href={mainLink}>{mainTitle}</NavLink> : mainTitle}
    </h1>
    {
      nextLink && (
        <NavLink href={nextLink} class="flex items-center">
          <Icon
            class="md:size-12 size-8"
            aria-hidden="true"
            name="lucide:circle-chevron-right"
          />
          <span class="sr-only">to next item</span>
        </NavLink>
      )
    }
  </div>
  <div class="p-5 bg-white text-base md:leading-7 md:text-base">
    <slot />
  </div>
  <div class="border-t border-neutral-300 py-5 space-y-2 text-brand-900">
    <p>How to cite this item:</p>
    <p>
      Alexander Marx, "{mainTitle}", <span class="italic"
        >Medieval Reception of the Roman Conquest of Jerusalem</span
      > (2025). URL: {pathname}.
    </p>
  </div>
</article>
