---
import PageLayout from "../../layouts/page-layout.astro";
import institutions from "../../content/data/institutional_context.json";
import { Icon } from 'astro-icon/components';
import { LanguageServiceMode } from "typescript";

export async function getStaticPaths() {
  
  const paths = Object.values(institutions).map((institution) => ({
    params: { id: institution.jad_id },  
    props: { data: institution }
  }));

  // Return the array of paths
  return paths;
}
       
const { data: institution } = Astro.props;

---
<PageLayout>  
   
    <div>
        <div class="border-2 rounded-sm border-brandBrown bg-brandRose my-10 grid p-5 w-3/4 mx-auto">
            <h1 class="text-xl py-3 mx-auto font-medium">{institution.name}</h1>
            <dl class="grid grid-cols-[1fr_7fr] text-sm md:leading-7 md:text-base">  
                
                <dt class="font-semibold border-r border-gray-300 pr-5">Part of:</dt>
                <dd class="pl-5">
                    { institution.part_of.length > 0
                        ? institution.part_of.map((part, index) => (
                            <>
                            <a href={`/institutions/${part.jad_id}`} class="hover:text-brandRed">{part.name}</a>
                            {index < institution.part_of.length -1 && '|'}
                            </>
                        ))
                        : 'N/A'
                    }
                    
                </dd>
                
                <dt class="font-semibold border-r border-gray-300 pr-5">Manuscripts:</dt>                
                <dd class="pl-5">
                    { institution.related__manuscripts.length > 0
                            ? institution.related__manuscripts.map((ms, index) => (
                                <>
                                <a href={`/manuscripts/${ms.jad_id}`} class="hover:text-brandRed">
                                    {ms.view_label}
                                </a>
                                {index < institution.related__manuscripts.length - 1 && '| '}
                                </>
                            )) : 'N/A'
                        }
                </dd>
                    
               
            </dl> 
                
        </div>     
        <div class="my-10 flex p-5 w-3/4 mx-auto justify-between">
           
            <a href=`/institutions/${institution.prev}`>
                <Icon class="size-20" name="lucide:circle-arrow-left"></Icon>
            </a>
            
            <a href=`/institutions/${institution.next}`>
                <Icon class="size-20" name="lucide:circle-arrow-right"></Icon></a>
           
              
        </div>   
        
    </div>

</PageLayout>
  