---
import PageLayout from "@/layouts/page-layout.astro";
import institutions from "@/content/data/institutional_contexts.json";
import NavLink from "@/components/nav-link.astro";
import Article from "@/components/article.astro";
export async function getStaticPaths() {
  const paths = Object.values(institutions).map((institution) => ({
    params: { id: institution.jad_id },
    props: { data: institution },
  }));

  // Return the array of paths
  return paths;
}

const { data: institution } = Astro.props;
---

<PageLayout title={institution.name}>
  <Article
    prevLink={`/institutions/${institution.prev.id}`}
    nextLink={`/institutions/${institution.next.id}`}
    mainTitle={institution.name}
  >
    <dl class="grid grid-cols-[1fr_7fr] text-sm md:leading-7 md:text-base">
      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-5">
        Part of:
      </dt>
      <dd class="pl-5">
        {
          institution.part_of.length > 0
            ? institution.part_of.map((part, index) => (
                <>
                  <NavLink href={`/institutions/${part.jad_id}`}>
                    {part.name}
                  </NavLink>
                  {index < institution.part_of.length - 1 && "|"}
                </>
              ))
            : "N/A"
        }
      </dd>

      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-5">
        Manuscripts:
      </dt>
      <dd class="pl-5">
        {
          institution.related__manuscripts.length > 0 ? (
            <ul>
              {institution.related__manuscripts
                .sort((a, b) => a.view_label.localeCompare(b.view_label))
                .map((ms) => (
                  <li class="py-1 list-disc list-inside">
                    <NavLink href={`/manuscripts/${ms.jad_id}`}>
                      {ms.view_label}
                    </NavLink>
                  </li>
                ))}
            </ul>
          ) : (
            "N/A"
          )
        }
      </dd>
    </dl>
  </Article>
</PageLayout>
