---
import PageLayout from "@/layouts/page-layout.astro";
import keywords from "@/content/data/keywords.json";
import NavLink from "@/components/nav-link.astro";
import Article from "@/components/article.astro";

export async function getStaticPaths() {
  const paths = Object.values(keywords).map((keyword) => ({
    params: { id: keyword.jad_id },
    props: { data: keyword },
  }));
  return paths;
}

const { data: keyword } = Astro.props;
---

<PageLayout title={keyword.view_label}>
  <Article
    prevLink={`/keywords/${keyword.prev.id}`}
    nextLink={`/keywords/${keyword.next.id}`}
    mainTitle={keyword.name}
  >
    <dl class="grid grid-cols-[1fr_12fr] text-sm md:text-base md:leading-7">
      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">
        About:
      </dt>
      <dd class="pl-5">{keyword.short_description}</dd>

      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">
        Passages:
      </dt>
      <dd class="pl-5">
        {
          keyword.related__passages.length > 0 ? (
            <ul class="space-y-2 border-neutral-300 p-2">
              {keyword.related__passages.map((passage) => (
                <li class="border-b border-neutral-300 pb-2">
                  <NavLink href={`/passages/${passage.jad_id}`}>
                    <span>({passage.id})</span>
                    <span class="italic">
                      {passage.view_label.slice(0, 150)} ...
                    </span>
                  </NavLink>
                  <div class="mt-1 pl-4 text-sm">
                    <span>
                      <span class="font-semibold">Author:</span>{" "}
                      {passage.work[0]?.author[0]?.name || "Unknown"}
                    </span>
                    <br />
                    <span>
                      <span class="font-semibold">Work:</span>{" "}
                      <span class="italic">
                        {passage.work[0]?.name || "Unknown"}
                      </span>
                    </span>
                  </div>
                </li>
              ))}
            </ul>
          ) : (
            "N/A"
          )
        }
      </dd>
      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">
        Related:
      </dt>
      <dd class="pl-5">
        <ul>
          {
            keyword.part_of.map((part: { jad_id: string; name: string }) => (
              <li class="list-disc">
                <NavLink href={`/keywords/${part.jad_id}`}>{part.name}</NavLink>
              </li>
            ))
          }
          {
            Object.values(keywords)
              .filter((kword) =>
                kword.part_of.some((part) => part.jad_id === keyword.jad_id)
              )
              .map((kword) => (
                <li class="list-disc">
                  <NavLink href={`/keywords/${kword.jad_id}`}>
                    {kword.name}
                  </NavLink>
                </li>
              ))
          }
        </ul>
      </dd>
    </dl>
  </Article>
</PageLayout>
