---
import PageLayout from "@/layouts/page-layout.astro";
import keywords from "@/content/data/keywords.json";
import NavLink from "@/components/nav-link.astro";
import Article from "@/components/article.astro";

import TabulatorTable from "@/components/tabulator-table.svelte";
import { keywordsdetailTableConfig } from "@/lib/tabulator-table-configs.js";

export async function getStaticPaths() {
  const paths = Object.values(keywords).map((keyword) => ({
    params: { id: keyword.jad_id },
    props: { data: keyword },
  }));
  return paths;
}

const { data: keyword } = Astro.props;
// Transform data and prepare columns for Tabulator Table
const tableData = keywordsdetailTableConfig.transformData(keyword.passages ?? []);
const columns = keywordsdetailTableConfig.getColumns();
const rowClickConfig = keywordsdetailTableConfig.getRowClickConfig;
---

<PageLayout title={keyword.name}>
  <Article
    prevLink={`/keywords/${keyword.prev.id}`}
    nextLink={`/keywords/${keyword.next.id}`}
    mainTitle={keyword.name}
  >
    <dl class="grid grid-cols-[1fr_11fr] text-sm md:text-base md:leading-7">
     {keyword.description && (
       <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">
        About:
      </dt>
      <dd class="pl-5">{keyword.description}</dd>
     )}

     
      {keyword.part_of.length > 0 && ( 
      <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">
        Related keywords:
      </dt>
      <dd class="pl-5">
        <ul>
          {
            keyword.part_of.map((part) => (
              <li>
                <NavLink href={`/keywords/jad_keyword__${part.id}`}>{part.value}</NavLink>
              </li>
            ))
          }
          {
            Object.values(keywords)
              .filter((kword) =>
                kword.part_of.some((part) => part.id === keyword.id)
              )
              .map((kword) => (
                <li>
                  <NavLink href={`/keywords/${kword.jad_id}`}>
                    {kword.name}
                  </NavLink>
                </li>
              ))
          }
        </ul>
      </dd>
      )}
      {keyword.passages.length > 0 && (
        <dt class="font-semibold text-brand-900">
        Passages:
      </dt>
      <dd></dd> 
      )}
    </dl>
     {tableData.length > 0 && (
    <TabulatorTable
      client:only="svelte"
      data={tableData}
      columns={columns}
      tableId="biblical-references-table"
      options={{
        paginationSize: 25,
        responsiveLayout: "collapse",
      }}
      downloadTitle="jad_biblical_references"
      rowClickConfig={rowClickConfig}
    /> )}
  </Article>
</PageLayout>
