---
import PageLayout from "@/layouts/page-layout.astro";
import { Icon } from "astro-icon/components";
import NavLink from "@/components/nav-link.astro";
import Article from "@/components/article.astro";
import mss from "@/content/data/manuscripts.json";
import pass from "@/content/data/passages.json";

const passages = Object.values(pass);


export async function getStaticPaths() {
  
  const paths = Object.values(mss).map((manuscript) => ({
    params: { id: manuscript.jad_id },
    props: { data: manuscript },
  }));
  return paths;
}

const { data: manuscript } = Astro.props;

// get related passages to each manuscript

 /*  const related_passages = passages
    .filter((passage) =>
      passage.mss_occurrences.some(
        (m) => m.manuscript_jad_id === manuscript.jad_id,
      ),
    )
    .map((passage) => ({
      id: passage.id,
      jad_id: passage.jad_id,
      passage: passage.passage,
      work: passage.work[0]?.title,
      author: passage.work[0].author[0]?.name,
      place: passage.position_in_work,
      author_certainty: passage.work[0].author_certainty,
    })); */
---

<PageLayout title=`${manuscript.name[0].value}`>
  <Article
  prevLink={`/manuscripts/${manuscript.prev.id}`}
  nextLink={`/manuscripts/${manuscript.next.id}`}
  mainTitle=`${manuscript.library[0]?.place[0]?.value}, ${manuscript.name[0]?.value}`
>
      
      <dl class="grid grid-cols-[1fr_5fr] text-sm md:leading-7 md:text-base">
        <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">Settlement:</dt>
        <dd class="pl-5">{manuscript.library[0]?.place[0]?.value}</dd>

       {manuscript.library.length > 0 && (
         <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">
          Library / Collection:
        </dt>
        <dd class="pl-5">
         {manuscript.library[0]?.full_name ?? "N/A"}
        </dd>
       )}

        <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">Shelfmark:</dt>
        <dd class="pl-5">
          {manuscript.catalog_url ? (
            <NavLink href={manuscript.catalog_url} target="_blank"
                class="inline-flex hover:text-brand-600 underline underline-offset-2"
              >
              {manuscript?.idno}          
                <span class="sr-only">Catalog entry</span>
                <Icon aria-hidden="true" name="lucide:external-link" />
              </NavLink>
          ) : (
            manuscript?.idno ?? "N/A"
          )}
          
          
        </dd>

        <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">Format:</dt>
        <dd class="pl-5">{manuscript?.format
          ? manuscript?.format
        : 'N/A'}</dd>

<dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">Date:</dt>
        <dd class="pl-5">{manuscript?.date_written.length > 0
          ? manuscript?.date_written[0]?.value
        : 'N/A'}</dd>
       {manuscript.institutional_context.length > 0 && (
         <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">
          Insitutional context:
        </dt>
        <dd class="pl-5">
          
            {manuscript.institutional_context[0]?.value ?? "N/A"}
        </dd>
       )}
        
        {manuscript.related_passages.length > 0 && (
          <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">Passages:</dt>
          <dd class="pl-5"> 
           {manuscript.related_passages.length > 0 ?  
           <ul>
              {
           manuscript.related_passages.map(p => p.passage.map((passage) => (
                  <li>
                    <NavLink href={`/passages/${passage.jad_id}`}>
                      <span>({passage.id})</span>
                      <span class="italic">
                        {passage.passage.slice(0, 150)} ...
                      </span>
                    </NavLink>
                    <div class="mt-1 pl-4 text-sm">
                      <span>
                        <span class="font-semibold">Author:</span>{" "}
                        {passage.work[0].author[0].name || "Unknown"}
                        {passage.work[0].author_certainty === false && " (?)"}
                      </span>
                      <br />
                      <span>
                        <span class="font-semibold">Work:</span>{" "}
                        <span class="italic">
                          {passage.work[0].title || "Unknown"}
                        </span>
                      </span>
                    </div>
                  </li>
                )))}
              </ul>
              : "N/A"} 
            
        
          </dd>
          <dt class="font-semibold text-brand-900 border-r border-neutral-300 pr-2">External links:</dt>
          <dd class="pl-5">
            <div class="flex flex-col gap-2">
        {
          manuscript.digi_url && (
            <div class="flex">
              <NavLink target="_blank"
                href={manuscript.digi_url}
                class="inline-flex hover:text-brand-600"
              >
                <span>Digital facsimile</span>
                <Icon aria-hidden="true" name="lucide:external-link" />
              </NavLink>
            </div>
          )
        }

        {
          manuscript.catalog_url && (
            <div class="flex">
              <NavLink target="_blank"
                href={manuscript.catalog_url}
                class="inline-flex hover:text-brand-600"
              >
                <span>Catalog entry</span>
                <Icon aria-hidden="true" name="lucide:external-link" />
              </NavLink>
            </div>
          )
        }
      </div>
          </dd>
        )}
      </dl>
      
    </Article>
   
</PageLayout>
