---
import PageLayout from "../../layouts/page-layout.astro";
import { getCollection } from "astro:content";


// make a function to read the collection; 'export' make the function available for Astro'S static site generation. 

export async function getStaticPaths() {
    // 1) Use getCollection to fetch the json file
    const manuscripts = await getCollection("manuscripts")
    return manuscripts.map(manuscript => {
        return { params: {id: manuscript.id},
                props: {data: manuscript.data}}
   })
}

const { data: manuscript } = Astro.props;
---
<PageLayout>
    <div class="py-5">
        <article class="border-2 rounded-md border-brand900 bg-brand100 w-3/4 grid grid-cols-1 mx-auto px-5">
            <h1 class="text-xl py-3 mx-auto">{manuscript.name[0].value}</h1>
            <dl class="grid grid-cols-[1fr_4fr] gap-2 text-xs md:text-sm">
                <dt class="font-semibold">Settlement:</dt>
                <dd>{manuscript.library[0].place[0]?.name}</dd>
    
                <dt class="font-semibold">Library / Collection:</dt>
                <dd><a href={manuscript.library[0].gnd_url} target="_blank">{manuscript.library[0].name}</a></dd>
                
                <dt class="font-semibold">Shelfmark:</dt>
                <dd>{manuscript.idno}</dd>
               
                <dt class="font-semibold">Insitutional context:</dt>
                <dd>{manuscript.institutional_context[0]?.name ?? 'N/A'}</dd>
                
                
                <dt class="font-semibold">Passages:</dt>
                <dd>
                    <!-- Array call .map with two parameters; index with type number - to count ; : wraped in fragment <> to return more than one elemen from the iteration-->
                  {
                    manuscript.related__passages.map((passage: { jad_id: string; }, index: number) => (
                      <>
                        <a href={`/passages/${passage.jad_id}`} class="hover:text-brand600">
                          #{passage.jad_id.substring(15)}
                        </a>
                        {/* to get comma after each entry BUT the last one (Index increments with each iteration, at the end it is equals to the length of the array -1) */}
                        {index < manuscript.related__passages.length - 1 && ', '}
                      </>
                    ))
                  }
                </dd>              

               
               
               
            </dl>
            <div class="flex flex-col gap-2 py-2 text-xs md:text-sm">
                {manuscript.digi_url && (
                     <div class="flex">
                        <section>Digital facsimile</section> 
                        <a href={manuscript.digi_url} class="inline-flex">
                            <img src="/external-link.svg" alt="" class="w-4 inline">
                        </a>
                    </div>
                   
                  )}
                  
                {manuscript.catalog_url && (
                   <div class="flex">
                        <section>Catalog entry</section> 
                        <a href={manuscript.catalog_url} class="inline-flex">
                            <img src="/external-link.svg" alt="" class="w-4 inline">
                        </a>
                    </div>

                    
                )}
            </div>
           
    
    </article>
    </div>

</PageLayout>