---
import NavLink from "@/components/nav-link.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
interface Props {
	title: string;
	summary?: string;
	url?: string | null;
	icon?: string;
	image: any;
}

const { title, summary, url, icon, image } = Astro.props;
---

<article>
	<!-- Mobile view -->
	<div
		class="md:hidden my-2 border-t-[5px] border-brand-800 bg-white shadow-md rounded-md rounded-t-none"
	>		
		<div class="grid gap-y-4 px-4 p-8 xs:px-8">
			<h2 class="text-brand-800 text-2xl font-semibold">
				<NavLink href={url} class="no-underline">
					{title}
				</NavLink>
			</h2>

			<p class="text-brand-600 font-medium italic">
				{summary}
			</p>

			<NavLink href={url} class="no-underline py-2 px-4 bg-brand-800 text-white rounded-md w-fit">
				Read more
			</NavLink>

			<slot />
		</div>
	</div>

	<!-- Desktop view -->
	<div class="hidden md:block">
		<NavLink href={url} class="no-underline">
			<article class="relative group overflow-hidden rounded-md shadow-md text-center">
				<!-- Background image  -->
				<div class="absolute inset-0">
					<Image src={image} alt="" class="w-full h-full object-cover" />
					<div class="absolute inset-0 bg-black opacity-25"></div>
				</div>
				<!-- Text content of the card -->
				<div
					class="z-10 h-full flex flex-col backdrop-blur-xs bg-black/40"
				>
					<header class="p-4 text-brand-50/80">
						<Icon class="inline-flex w-6 h-6" aria-hidden="true" name={icon} />
						<h2 class="text-xl font-semibold">
							<span class="no-underline">{title}</span>
						</h2>
					</header>
					
				</div>
			</article>
		</NavLink>
	</div>
</article>
